<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Kết quả đường đi</h1>
    {% if error %}
    <p>{{ error }}</p>
    {% else %}
    <ol>
    {% for step in steps %}
        <li>{{ step['html_instructions'] }}</li>
        <li>Khoảng cách: {{ step['distance']['text'] }}</li>
        <li>Thời gian: {{ step['duration']['text'] }}</li>
    {% endfor %}
    </ol>
    {% endif %}
</body>
</html>